

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    font-family: new-science, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #3D3D3D;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 10;
    background-color: #3D3D3D; /* Semi-transparent background for header */
    border-radius: 10px;
}

.background{
    background-color: #EAEAE8;
}

.header-container {
    position: sticky;
    
  }



/* Navigation styles */
.nav {
    display: flex;
    align-items: flex-end; /* Align navigation links at the bottom */
}

.nav-logo {
    display: block; 
    height: 35px;
    width: 35px;
    padding-left: 5%;
    padding-bottom: 12%;
  }

.nav-link {
    font-family: scale-variable, sans-serif;
    font-variation-settings: "wdth" 100, "wght" 400;
    text-decoration: none; /* Remove underline */
    font-size: 24px; /* Adjust font size */
    color: #ffffff; /* Adjust link color */
    padding: 20px 20px;
    padding-left: 5px;
}

.nav-link:hover {
    color: #dcdcdc; /* Add hover effect */
}

/* Logo styles */
.logo {
    width: 320px; /* Adjust logo size */
    height: 50px; /* Keep logo proportional */
    position: absolute;
    left: 38%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom; /* Align logo with text bottom */
}

.tasks-table {
    color: #3D3D3D;
}

.tasks-table table {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tasks-table th {
    font-weight: bold;
    background-color: #eaeaea;
}

.right-panel {
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-panel button {
    font-family: new-science, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    transition: 0.2s ease;
}

.right-panel button:hover {
    opacity: 0.9;
}

.add-button {
    margin: 10px;
    padding: 15px;
    width: 80%;
    background: #e46262;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.add-button:hover {
    background-color: #dd3333;
}

.progress-bar {
    background: #dbdbdb;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.bar {
    height: 100%;
}

.linked:hover {
    color: #000000;
}
