

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 10;
    background-color: #3D3D3D; /* Semi-transparent background for header */
    border-radius: 10px;
}

.background{
    background-color: #EAEAE8;
}

.header-container {
    position: sticky;
    
  }

/* Navigation styles */
.nav {
    display: flex;
    align-items: flex-end; /* Align navigation links at the bottom */
}

.nav-logo {
    display: block; 
    height: 35px;
    width: 35px;
    padding-left: 5%;
    padding-bottom: 12%;
  }

.nav-link {
    font-family: scale-variable, sans-serif;
    font-variation-settings: "wdth" 100, "wght" 400;
    text-decoration: none; /* Remove underline */
    font-size: 24px; /* Adjust font size */
    color: #ffffff; /* Adjust link color */
    padding: 20px 20px;
    padding-left: 5px;
}

.nav-link:hover {
    color: #dcdcdc; /* Add hover effect */
}

/* Logo styles */
.logo {
    width: 320px; /* Adjust logo size */
    height: 50px; /* Keep logo proportional */
    position: absolute;
    left: 38%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom; /* Align logo with text bottom */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-content {
    font-family: new-science, sans-serif;
    font-weight: 400;
    color: #3D3D3D;
    align-items: flex-start;
    display: flex;
    height: min-content;
    gap: 20px;
    padding: 20px;
}

.overview {
    width: 75%;

    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    box-sizing: border-box;
}



.task-list {
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

.task-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.task-list::-webkit-scrollbar-track {
    background-color: #88888850;
    border-radius: 10px;
}

.task-list::-webkit-scrollbar-thumb {
    background: #4d4d4d50;
    border-radius: 10px;
}

.task-list::-webkit-scrollbar-thumb:hover {
    background: #3d3d3d50;
}



.main-content > .overview, .main-content > .task-list {
    height: 100%;
}

.task-list > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.task-list h2 {
    font-family: scale-variable, sans-serif;
    font-variation-settings: "wdth" 100, "wght" 400;
    color: #3D3D3D;
    margin-bottom: 10px;
    text-align: center;
}

.scrollable-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.project-name {
    font-family: scale-variable, sans-serif;
    font-variation-settings: "wdth" 100, "wght" 400;
    font-size: 2rem;
    color: #3D3D3D;
}

.manager-name {
    font-family: scale-variable, sans-serif;
    font-variation-settings: "wdth" 100, "wght" 400;
    font-size: 1.5rem;
}

.task-number {
    flex: 0 0 30px; /* Fixed width for serial number */
    text-align: center;
}

.task-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.participants-list {
    font-family: new-science, sans-serif;
    font-weight: 400;
    background: #fff;
    color: #3D3D3D;
    padding: 20px;
    border-radius: 10px;
}

.participants-list h2 {
    font-family: scale-variable, sans-serif;
    font-variation-settings: "wdth" 100, "wght" 400;
    margin-bottom: 10px;
}

.participant-item {
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 2fr 1fr;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
  }
  
  .progress-bar {
    flex: 1;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;

  }
  
  .progress {
    height: 100%;
    background-color: #FFCE76;
  }
  
  .progress-ratio {
    font-size: 0.9rem;
    white-space: normal;
    color: #333;
    margin-right: 5%;
    text-align: right;
  }