{% load static %}
<html>
<head>
<title>Task Management</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please choose schedule date");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please choose start time");
	formObj.t2.focus();
	return false;
	}
	if(formObj.t3.value.length==0)
	{
	alert("Please choose end time");
	formObj.t3.focus();
	return false;
	}
	return true;
	}
	</script>
<script language="javascript" type="text/javascript" src="{% static 'datetimepicker.js' %}">
</script>	
</head>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Task Scheduling & Management System</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
    <ul>
      <li><a href="{% url 'CreateSchedule' %}"><font size="3" color="black">Create Schedule</a></li>
       <li><a href="{% url 'ViewSchedule' %}"><font size="3" color="black">View Schedule Report</a></li>
       <li><a href="{% url 'ResourcePage' %}"><font size="3" color="black">Back</a></li>	  
   </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="286" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'CreateScheduleAction' %} onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Create Schedule Screen</b></h2>
   
	<font size="" color="red"><center>{{ data }}</center></font>
						
						<table align="center" width="30%" >

			

			 <tr><Td><font size="3" color="black">Schedule&nbsp;Date</td><td>
<input name="t1" type="Text" id="demo" maxlength="25" size="20" class="c2" ><a href="javascript:NewCal('demo','ddmmyyyy',false,24)"><img src="{% static 'cal.gif' %}" width="16" height="16" border="0" alt="Pick a date"></a>
	  		<span class="descriptions"></span>
</td></tr>	



<tr><Td><font size="3" color="black">Start&nbsp;Time</td><td>
<input name="t2" type="Text" id="demo1" maxlength="25" size="20" class="c2" ><a href="javascript:NewCal('demo1','ddmmyyyy',true,24)"><img src="{% static 'cal.gif' %}" width="16" height="16" border="0" alt="Pick a date"></a>
	  		<span class="descriptions"></span>
</td></tr>	

<tr><Td><font size="3" color="black">End&nbsp;Time</td><td>
<input name="t3" type="Text" id="demo2" maxlength="25" size="20" class="c2" ><a href="javascript:NewCal('demo2','ddmmyyyy',true,24)"><img src="{% static 'cal.gif' %}" width="16" height="16" border="0" alt="Pick a date"></a>
	  		<span class="descriptions"></span>
</td></tr>

<tr><td><font size="3" color="black">Schedule&nbsp;Type</b></td><td><select name="t4">
<option value="Regular">Regular</option>
<option value="Overtime">Overtime</option>
<option value="TimeOff">Time Off</option>
</select>
</td></td></tr>

{{ data1|safe }}
		   
			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>